<tr>
	<td colspan=3><b><%= trip.name %></b></td>
</tr>
<tr>
	<td><%= l trip.start_date, :format => :short %></td>
	<td><%= l trip.end_date, :format => :short %></td>
	<td class="number"><%= number_to_currency(trip.final_price) %></td>
</tr>
