<table cellpadding="5" border="1" style="border-spacing:0;border-collapse:collapse;border-color:#CFCCCA">
	<tr>
		<th align="left" style="font-size:10pt;background:#605C59;color:#FFF">Guest Name</th>
		<th align="right" style="font-size:10pt;background:#605C59;color:#FFF">Phone number</th>
		<th align="left" style="font-size:10pt;background:#605C59;color:#FFF">Email</th>
	</tr>
	<tr>
		<td align="left" style="font-size:10pt;padding:2px 4px"><%= guest.name %></td>
		<td align="right" style="font-size:10pt;padding:2px 4px"><%= guest.phone_number %></td>
		<td align="left" style="font-size:10pt;padding:2px 4px"><%= guest.email_id %></td>
	</tr>
</table>
