<div class="edit_form">
	<fieldset>
		<legend>Edit Booking</legend>

		<% if @cancel_booking == 1 %>
			<%= render 'cancel_booking' %>
		<% else %>
			<%= render 'form' %>
		<% end %>

		<%= link_to 'Cancel', bookings_path, :class => "cancel_link" %>
	</fieldset>
</div>
