<div class="new_form">
	<fieldset>
		<% if @booking.property_id %>
			<legend>New Booking</legend>
			<%= render 'form' %>
			<%= link_to 'Cancel', bookings_path, :class => "cancel_link" %>
		<% else %>
			<legend>Select Property for new Booking</legend>
			<%= render 'properties' %>
			<div class="action_container">
				&nbsp;
			</div>
			<%= link_to 'Cancel', bookings_path, :class => "cancel_link" %>
		<% end %>
	</fieldset>
</div>
