<div class="new_form">
  <fieldset>
    <legend>New Price List</legend>

    <%= render 'form' %>

    <%= link_to 'Cancel', price_lists_path(
      :room_type_id => @price_list.room_type_id, :meal_plan => @price_list.meal_plan), :class => "cancel_link" %>
  </fieldset>
</div>
