<%= form_tag agencies_path, :method => "get" do %>
	<div class="search">
		<%= text_field_tag :name, params[:name], :placeholder => "Name" %>
		<%= submit_tag "Search", :name => nil %>
	</div>
<% end %>
