<% if session[:property_id] %>
	<h1>New Room Type for Property '<%= Property.find(session[:property_id]).name %>'</h1>
<% else %>
	<h1>New Room Type</h1>
<% end %>

<%= render 'form' %>

<%= link_to 'Cancel', room_types_path(:property_id => session[:property_id]), :class => "cancel_link" %>
