<table cellpadding="5" border="1" style="border-spacing:0;border-collapse:collapse;border-color:#CFCCCA">
	<tr>						
		<th align="left" style="font-size:10pt;background:#605C59;color:#FFF">Payment Date</th>
		<th align="left" style="font-size:10pt;background:#605C59;color:#FFF">Details</th>
		<th align="left" style="font-size:10pt;background:#605C59;color:#FFF">Amount</th>
	</tr>
	<% trip.payments.each do |payment| %>
		<tr>
			<td align="left" style="font-size:10pt;padding:2px 4px">
				<%= l payment.date_received %><br/>
			</td>
			<td align="left" style="font-size:10pt;padding:2px 4px">
				<%= payment.details %>
			</td>
			<td align="left" style="font-size:10pt;padding:2px 4px">
				<%= number_to_currency(payment.amount) %>
			</td>
		</tr>
	<% end %>
</table>
