<div id="availability_chart">
</div>

<span class="search_title">Show chart</span>
<div class="search_container">
  <%= render 'search' %>
</div>
<h2>
  <%= "Availability Chart > #{@chart_start_date.to_s(:ddmonyy)} to #{@chart_end_date.to_s(:ddmonyy)} > #{pluralize(@rooms_required, "room")}" %>
</h2>

<div id="chart">
	<%= render 'availability_chart' %>
</div>
