<table class="heading_table">
	<% if @consider_blocked_rooms_as_booked.to_i == 1 %>
		<tr>
			<td>
				<h1 "id="avl_chart_h1">Availability Chart (incl. blocked rooms)</h1>
			</td>
			<td class="sub_text">
				<%= link_to 'Ign. blocked rooms', 
							availability_chart_path(
								:consider_blocked_rooms_as_booked => 0,
								:chart_start_date => @chart_start_date,
								:number_of_days => @number_of_days) %>
			</td>
		</tr>
	<% else %>
		<tr>
			<td>
				<h1 id="avl_chart_h1">Availability Chart (ign. blocked rooms)</h1>
			</td>
			<td class="sub_text">
				<%= link_to 'Incl. blocked rooms',
							availability_chart_path(
								:consider_blocked_rooms_as_booked => 1,
								:chart_start_date => @chart_start_date,
								:number_of_days => @number_of_days) %>
			</td>
		</tr>
	<% end %>
</table>

<div id="new_booking"></div>

<div id="search">
	<p>
		<%= render 'search' %>
	</p>
</div>

<div id="chart">
	<%= render 'availability_chart' %>
</div>
