.agencies {
	.show_saved_record {
		b {
			width: 21%;
		}
	}

	.search {
		fieldset {
			float: left;
			height: 14px;
			padding-top: 0;
			margin-right: 10px;
			margin-top: 2px;
			text-align: center;
		}
	}
}
