/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#banner {
	font: small-caps 40px/60px "Trebuchet MS" sans-serif;
	color: black;
	text-align: right;
	padding-right: 1em;
	height: 60px;
	border-radius-top-right: 25px;
	background: #036339;
	border-radius: 0 35px 35px 0;

	img {
		float: left;
		height: 60px;
	}
}

#columns {

	#main {
		margin-left: 14.5em;
		padding-top: 0.4em;
		padding-right: 1em;
		background: white;
	}

	#side {
		background: #bcebd6;
		border-radius: 10px;
		margin: 20px 0 0 7px;
		float: left;
		width: 12em;

		ul {
			padding: 0;

			li {
				list-style: none;
			}
		}

		dl {
			margin-top: 0;
			padding-left: 1em;
			line-height: 1.6em;

			dt {
				padding-top: 1em;
				font-weight: bold;
			}

			dd {
				margin: 0;
				&:before {
					padding-right: 5px;
					content: "»";
				}
			}
		}
	}
}

.action_container {
	margin-top: 1em;
	background-color: #F4F3F8;
	padding: 8px;
	border-radius: 10px;

	a {
		font-size: 1.1em;
	}
}

.show_saved_record {
	p {
		overflow: hidden;
	}

	b {
		display: block;
		width: 20%;
		float: left;
		text-align: right;
		padding-right: 10px;
	}

	.saved_value {
		display: block;
		width: 75%;
		color: green;
		float: left;
	}
}

.cancel_link {
	float: right;
	display: inline-block;
	margin: -30px 12px 0 0;
}

.highlight {
	color: #036339;
}

table {
	margin-top: 1em;
	border-spacing: 0;
	border-collapse: collapse;
	border-color: #CFCCCA;
	width: 100%;
	
	th {
		padding: 5px;
		background: #605C59;
		color: #FFF;

		&:nth-last-child(2) {
			width: 25%;
		}
	}

	td {
		padding: 2px 4px;
		vertical-align: top;

		&:nth-last-child(1) {
			font-size: .9em;
			white-space: nowrap;
			width: 80px;
		}
	}

	.number {
		text-align: right;
	}

	.text {
		text-align: left;
	}

	.list_line_odd {
		background: white;
	}

	.list_line_even {
		background: #F2EEEC;
	}
}
