/*
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets
 *= require_tree . 
*/

#public_banner {
	height: 4.5em;
	background: #000000;
	img {
		float: left;
		height: 4.5em;
	}
}

#public_columns {
	#public_main {
		margin-left: 1em;
		padding-top: 0.4em;
		background: white;
	}
}

.public_form {
	form {
		margin-left: 1em;
		margin-top: 0.5em;
		.field {
			label {
				width: 4em;
				float: left;
				text-align: right;
				padding-top: 0.1em;
				margin-right: 0.7em;
				display: block;
			}
			select, textarea, input {
				margin-right: 0.5em;
			}
		}
	}
}

.public_highlight {
  font-size: 1.5em;
}

#public_error {
	color: red;
}

#banner {
	font: small-caps 40px/60px "Trebuchet MS" sans-serif;
	height: 60px;
	background: #000000;

	img {
		float: left;
		height: 60px;
	}

	#user_info {
		font: 15px sans-serif;
		color: white;
		float: left;
		background: #000000;
		vertical-align: top;
		margin-left: 1.5em;
		padding-top: 0.7em;

		a {
			color: white;
			font-size: 12px;
		}
	}

	#logo {
		float: right;
		height: 60px;
	}

}

#columns {

	#main {
		margin-left: 16.5em;
		padding-top: 0.4em;
		padding-right: 1em;
		background: white;
	}

	#side {
		background: #bcebd6;
		border-radius: 10px;
		margin: 20px 0 0 7px;
		float: left;
		width: 14em;

		dl {
			margin-top: 0;
			padding-left: 1em;
			line-height: 1.6em;

			dt {
				padding-top: 1em;
				font-weight: bold;
			}

			dd {
				margin: 0;
				&:before {
					padding-right: 5px;
					content: "»";
				}
			}
		}
	}
}

.action_container {
	margin-top: 1em;
	background-color: #F4F3F8;
	padding: 8px;
	border-radius: 10px;

	a {
		font-size: 1.1em;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
}

.search_title {
  font-weight: bold;
  padding-right: 5px;
} 

.search_container {
	background-color: #F4F3F8;
	padding: 3px 8px;
	border-radius: 10px;
	display: inline-block;
  input[type="text"] {
    height: 20px;
    font: 14px/100% Arial, Helvetica, sans-serif;
    margin-right: 10px;
  }
  input[type="number"] {
    height: 20px;
    font: 14px/100% Arial, Helvetica, sans-serif;
    margin-right: 10px;
  }

	a {
		font-size: 1.1em;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
}

.x_link {
  margin-left: 1px;
  font-size: 15px;
	font-weight: normal;
}

.show_saved_record {

	p {
		overflow: hidden;
	}

	b {
		display: block;
		width: 12%;
		float: left;
		text-align: right;
		padding-right: 10px;
	}

	.saved_value {
		display: block;
		color: green;
		width: 60%;
		float: left;
		white-space: pre-wrap;
	}
}

.cancel_link, .back_link, .new_link {
	float: right;
	display: inline-block;
	margin: -30px 12px 0 0;
	line-height: 28px;
}

.index_table {
	margin-top: 1em;
	border-spacing: 0;
	border-collapse: collapse;
	border-color: #CFCCCA;
	width: 100%;
	
	th {
		padding: 5px;
		background: #605C59;
		color: #FFF;

		&:nth-last-child(2) {
			width: 25%;
		}
	}

	td {
		padding: 2px 4px;
		vertical-align: top;

		&:nth-last-child(1) {
			font-size: .9em;
			white-space: nowrap;
			width: 80px;
		}
	}
}

.session_table {
  table-layout: fixed;
}

.new_form, .edit_form, .search_form {
	fieldset {
		legend {
			color: #036339;
			background: #CFCFCF;
			font-size: 1.1em;
			padding: 0.2em 1em;
		}
		form {
			margin-top: 0.5em;
			.field {
        .message {
          color: red;
		      padding-top: 0.1em;
		      margin-right: 0.7em;
          text-align: left;
          float: none;
          display: inline;
	      }
				label {
					width: 10em;
					float: left;
					text-align: right;
					padding-top: 0.1em;
					margin-right: 0.7em;
					display: block;
				}
				select, textarea, input {
					margin-right: 0.5em;
				}
				br {
					display: none;
				}
			}
		}
	}
}

.nested_form {
	margin-bottom: 10px;
	padding-left: 10.8em;

  .field_with_errors {
    .message {
      display: none;
     }
  }

	.add_nested_fields {
		float: left;
	}

	input {
		margin-right: 0.2em;
		margin-left: 0.2em;
	}

	a {
		padding-left: 0.3em;
	}

	.nested_form_row {
		height: 32px;

		fieldset {
			float: left;
			height: 14px;
			padding-top: 0;
			margin-right: 10px;
			margin-top: 2px;
			text-align: center;
		}
	}
}

.number {
	text-align: right;
}

.currency {
	text-align: right;
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap;
}

.prewrap {
	white-space: pre-wrap;
}

.text {
	text-align: left;
}

.list_line_odd {
	background: white;
}

.list_line_even {
	background: #F2EEEC;
}

.nested_table {
	margin-top: 1em;
	border-spacing: 0;
	border-collapse: collapse;
	border-color: #CFCCCA;
	width: 60%;
	margin-left: 13%;
	display: block;
	
	th {
		padding: 5px;
		background: #605C59;
		color: #FFF;
		border: 1px solid grey;
	}

	td {
		color: green;
		padding: 2px 4px;
		vertical-align: top;
		border: 1px solid grey;
	}
}

#session_info {
	margin-left: 9px;
	width: 12em;

	table {
		border-bottom: 1px solid grey;
		width: 13em;
		.heading {
			text-align: left;
			font-size: 12px;
		}
		.clear {
			text-align: right;
			font-size: 10px;
		}
		th {
			line-height: 1.2em;
			width: 4.5em;
			white-space: nowrap;
			overflow: hidden;
		}
		td {
			line-height: 1.2em;
			color: #036339; 
			width: 4.5em;
			white-space: nowrap;
			overflow: hidden;
			font-size: 11px;
		}
	}
}

.highlight {
	color: #036339;
}

.heading_table {

	h1 {
		margin-bottom: 0;
	}

	.sub_text {
		font-size: 14px;
		vertical-align: bottom;
		padding-left: 0.5em;
	}
}
#error {
	color: red;
}

@font-face {
	font-family: 'WebRupee';
	src: 	local('WebRupee'),
				url('http://cdn.webrupee.com/WebRupee.V2.0.ttf') format('truetype'),
				url('http://cdn.webrupee.com/WebRupee.V2.0.woff') format('woff'),
				url('http://cdn.webrupee.com/WebRupee.V2.0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.WebRupee {
	font-family: 'WebRupee';
}

#ui-datepicker-div { display:none }

hr {
  height: 1px;
  background-color: #605C59;
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 0.9em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}
.black {
  color: #d7d7d7;
  border: solid 1px #333;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
  background: -moz-linear-gradient(top,  #666,  #000);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
  background: -moz-linear-gradient(top,  #444,  #000);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
  color: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
  background: -moz-linear-gradient(top,  #000,  #444);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}
