// Place all the styles related to the AvailabilityChart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.availability_chart {
	table th:nth-last-child(2) {
		width: auto;
	}

	.property {
		background: #CFCFCF;
		font-weight: bold;
	}

	.room_type {
		padding-left: 1em;
	}

	.sold_out {
		text-align: right;
		color: red;
	}

	.not_serviceble {
		text-align: right;
		color: red;
	}

	.partial {
		text-align: right;
		color: orange;
	}

	.available {
		text-align: right;
		color: green
	}
}
