.availability_chart {
	table th:nth-last-child(2) {
		width: auto;
	}

	table td:nth-last-child(1) {
		width: auto;
	}

	table td:nth-child(1) {
		white-space: nowrap;
	}

	.property {
		background: #CFCFCF;
		font-weight: bold;
	}

	.room_type {
		padding-left: 1em;
	}

	.sold_out {
		text-align: right;
		color: red;
	}

	.not_serviceble {
		text-align: right;
		color: red;
	}

	.partial {
		text-align: right;
		color: orange;
	}

	.available {
		text-align: right;
		color: green
	}
}
