.availability_chart {
	table th:nth-last-child(2) {
		width: auto;
	}

	table td:nth-last-child(1) {
		width: auto;
	}

	table td:nth-child(1) {
		white-space: nowrap;
	}

	table th {
		border-top: 3px solid black;
	}

	.property {
		background: #CFCFCF;
		font-weight: bold;
		td {
			font-size: 17px;
			border-top: 3px solid black;
			border-bottom: 1px solid black;
		}
	}

	.room_type {
		padding-left: 1em;
	}

	.sold_out {
		text-align: right;
		background-color: red;
	}

	.not_serviceble {
		text-align: right;
		background-color: red;
	}

	.partial {
		text-align: right;
		background-color: orange;
	}

	.available {
		text-align: right;
		background-color: green
	}
}
