.booking_chart {
	.chart {
    border-spacing: 0.01px;
		margin-top: 1em;
		width: 100%;
		table-layout: fixed;
	  border: 1.5px solid #CFCCCA;
		
		th {
			padding: 5px;
			background: #605C59;
			color: #FFF;
			white-space: nowrap;
			overflow: hidden;
		  border: 1px solid #CFCCCA;
		}

		td {
			padding: 2px 4px;
			vertical-align: top;
			white-space: wrap;
		  border: 1px solid #CFCCCA;
      word-wrap: break-word;
		}

    td:hover {
			padding: 1px 3px;
		  border: 2px solid black;
      cursor: pointer;
    }

    td:nth-child(1):hover {
			padding: 2px 4px;
		  border: 1px solid #CFCCCA;
      cursor: auto;
    }
	}

	.not_paid {
		background-color: yellow;
	}

	.partially_paid {
		background-color: orange;
	}

	.fully_paid {
		background-color: green;
	}

	.confirmed_not_paid {
		background-color: green;
		color: red;
	}
}
