.bookings {
	table th:nth-last-child(2) {
		width: auto;
	}

	table th:nth-last-child(3) {
		width: auto;
	}

	.list_description {
		white-space: nowrap;

		dl {
			margin: 0;
		}

		dt {
			font-weight: bold;
			font-size: larger;
		}

		dd {
			margin: 0;
		}
	}

	.new_form, .edit_form {
		form {
			.field {
				label {
					width: 10em;
				}
			}
		}
	}

	.nested_form {
		padding-left: 10.8em;
	}

	.properties_table {
		margin-top: 1em;
		border-spacing: 0;
		border-collapse: collapse;
		border-color: #CFCCCA;
		width: auto;
		
		th {
			padding: 5px;
			background: #605C59;
			color: #FFF;
		}
	
		td {
			padding: 2px 4px;
			vertical-align: top;
	
			&:nth-last-child(1) {
				font-size: .9em;
				white-space: nowrap;
				width: 80px;
			}
		}
	}
}
