// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bookings {

	table th:nth-last-child(2) {
		width: 20%;
	}

	table th:nth-last-child(3) {
		width: 14%;
	}

	.list_description {
		white-space: nowrap;

		dl {
			margin: 0;
		}

		dt {
			font-weight: bold;
			font-size: larger;
		}

		dd {
			margin: 0;
		}
	}
}
