.bookings {

	table th:nth-last-child(2) {
		width: auto;
	}

	table th:nth-last-child(3) {
		width: auto;
	}

	.list_description {
		white-space: nowrap;

		dl {
			margin: 0;
		}

		dt {
			font-weight: bold;
			font-size: larger;
		}

		dd {
			margin: 0;
		}
	}

	.new_form, .edit_form {
		form {
			.field {
				label {
					width: 8em;
				}
			}
		}
	}

	.nested_form {
		padding-left: 8.8em;
	}
}
