.guests {
	.name_input {
		width: 9.5em;

	}
	.phone_number_input {
		width: 9.5em;
	}

	.email_id_input {
		width: 15em;
	}

	table td:nth-child(2) {
		white-space: nowrap;
	}

	table td:nth-last-child(2) {
		width: 20%;
	}

	table td:nth-last-child(3) {
		width: 20%;
	}
}
