// Place all the styles related to the Guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guests {
	.name_input {
		width: 9.5em;

	}
	.phone_number_input {
		width: 9.5em;
	}

	.email_id_input {
		width: 15em;
	}
}
