.line_items {
	table th:nth-last-child(2) {
		width: auto;
	}

	table td:nth-last-child(1) {
		width: auto;
		white-space: auto;
		font-size: 1em;
	}

	.not_paid {
		background-color: yellow;
	}

	.partially_paid {
		background-color: orange;
	}

	.fully_paid {
		background-color: green;
	}

	.confirmed_not_paid {
		background-color: green;
		color: red;
	}
}
