.line_items {
	.booking_chart {
		margin-top: 1em;
		border-spacing: 0;
		border-collapse: collapse;
		border-color: #CFCCCA;
		width: 100%;
		table-layout: fixed;
		
		th {
			padding: 5px;
			background: #605C59;
			color: #FFF;
			white-space: nowrap;
			overflow: hidden;
		}

		td {
			padding: 2px 4px;
			vertical-align: top;
			white-space: wrap;
		}
	}

	.not_paid {
		background-color: yellow;
	}

	.partially_paid {
		background-color: orange;
	}

	.fully_paid {
		background-color: green;
	}

	.confirmed_not_paid {
		background-color: green;
		color: red;
	}
}
