.properties {
	.new_form, .edit_form {
		form {
			.field {
				label {
					width: 14em;
				}
			}
		}
	}

	.nested_form {
		padding-left: 14.8em;
	}

	.show_saved_record {
		b {
			width: 21%;
		}
	}
}
