#banner {
	font: small-caps 40px/60px "Trebuchet MS" sans-serif;
	color: black;
	text-align: right;
	padding-right: 1em;
	height: 60px;
	border-radius-top-right: 25px;
	background: #036339;
	border-radius: 0 35px 35px 0;

	img {
		float: left;
		height: 60px;
	}
}

#columns {
	#main {
		margin-left: 16.5em;
		padding-top: 0.4em;
		padding-right: 1em;
		background: white;
	}
}

.action_container {
	margin-top: 1em;
	background-color: #F4F3F8;
	padding: 8px;
	border-radius: 10px;
}

.new_form {
	fieldset {
		legend {
			color: #036339;
			background: #CFCFCF;
			font-size: 1.1em;
			padding: 0.2em 1em;
		}

		form {
			margin-top: 0.5em;

			.field {
				label {
					width: 10em;
					float: left;
					text-align: right;
					padding-top: 0.1em;
					margin-right: 0.7em;
					display: block;
				}

				select, textarea, input {
					margin-right: 0.5em;
				}

				br {
					display: none;
				}
			}
		}
	}
}
