<div class="edit_form">
	<fieldset>
		<legend>Edit Value Added Service</legend>

		<%= render 'form' %>

		<%= link_to 'Cancel', value_added_services_path, :class => "cancel_link" %>
	</fieldset>
</div>
