<div class="new_form">
	<fieldset>
		<legend>New Value Added Service</legend>

		<%= render 'form' %>

		<%= link_to 'Cancel', value_added_services_path, :class => "cancel_link" %>
	</fieldset>
</div>
