<h1>Booking Chart</h1>

<div id="search">
	<%= render 'search' %>
</div>

<% if @line_items.count > 0 %>
	<table class="index_table" border="1">
		<tr>
			<th class="text">Room Type</th>
			<% @chart_date_range_short.each do |date| %>
				<th><%= date %></th>
			<% end %>
	  </tr>
	
		<% @room_types.each do |room_type| %>	
			<% (1..room_type.number_of_rooms).each do |room_number| %>
	  		<tr>
	    		<td class="nowrap"><%= room_type.room_type %></td>
					<% @chart_date_range.each do |date| %>
	    			<td><span class="text">
							<%= @line_items[[room_type.id, room_number, date]] %>
						</span></td>
					<% end %>
				</tr>
			<% end %>
		<% end %>
	</table>
<% else %>
	<div id="error_explanation">
		<h2>There are no bookings for the date chosen</h2>
		<ul>
			<li>Please choose another date</li>
		</ul>
	</div>
<% end %>
